.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 7px;
  vertical-align: middle;
  align-self: center;
  font-size: 75%;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  background-color: $grey-dark-color;
  color: $white-color;

  &.badge-primary {
    @include background-color(primary);
  }

  &.badge-secondary {
    @include background-color(secondary);
  }
}