html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $font-primary !important;
  font-weight: 200;
  color: $body-color;
}

.base-container {
  display: flex;
  flex: 1;
}

#root {
  height: 100%;
}

.ms-site-container {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  main {
    flex-grow: 1;
    padding: 40px 0;
  }

  header,
  main,
  footer {
    flex-shrink: 0;
  }
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.no-text-transform {
  text-transform: none !important;
}

.hidden {
  display: none !important;
}

.container {
  @media (min-width: 1600px) {
    max-width: 1615px;
  }
}
