body {
  font-family: $font-primary !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.no-text-transform {
  text-transform: none !important;
}

.hidden {
  display: none !important
}