.btn {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  position: relative;
  box-shadow: none !important;
  user-select: none;
  letter-spacing: .14px;
  font-weight: 400;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: middle;
  overflow: visible;
  cursor: pointer;

  .icon {
    vertical-align: middle;
  }

  &.btn-sm {
    padding: 5px 20px;
    font-size: 1.2rem;

    .icon {
      font-size: 1.5rem;
      margin-right: .8rem;
    }
  }

  &.btn-lg {
    padding: 8px 30px;
    font-size: 1.4rem;

    .icon {
      font-size: 1.8rem;
      margin-right: 1rem;
    }
  }

  &.btn-block {
    width: 100%;
  }

  &.btn-uppercase {
    text-transform: uppercase;
  }

  &.btn-select {
    margin: 10px 1px;
    padding: 8px;
  }

  &.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color !important;
    color: $primary-alt-color !important;

    &:hover,
    &:active {
      background-color: darken($primary-color, 5%) !important;
    }
  }

  &.btn-secondary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color !important;
    color: $secondary-alt-color !important;

    &:hover,
    &:active {
      background-color: darken($secondary-color, 5%) !important;
    }
  }

  &.btn-light {
    background-color: $grey-light-color;
    border: 1px solid $grey-light-color !important;
    color: $black-color !important;

    &:hover,
    &:active {
      background-color: darken($grey-light-color, 10%) !important;
    }
  }

  &.btn-outline {
    background-color: transparent !important;

    &.btn-primary {
      color: $primary-outline-color !important;

      &:hover {
        background-color: $primary-color !important;
        color: $primary-alt-color !important;
      }
    }

    &.btn-secondary {
      color: $secondary-outline-color !important;

      &:hover {
        background-color: $secondary-color !important;
        color: $secondary-alt-color !important;
      }
    }
  }

  &.btn-inverse {

    &.btn-primary {

      &:hover {
        background-color: $secondary-color !important;
        color: $secondary-alt-color !important;
        border-color: $secondary-color !important;
      }
    }

    &.btn-secondary {

      &:hover {
        background-color: $primary-color !important;
        color: $primary-alt-color !important;
        border-color: $primary-color !important;
      }
    }
  }
}

.link {

  &.link-sm {
    font-size: 1.5rem;
  }

  &.link-lg {
    font-size: 2rem;
  }

  &.link-primary {
    color: $primary-color !important;

    &:hover {
      color: $secondary-color !important;
    }
  }

  &.link-secondary {
    color: $secondary-color !important;

    &:hover {
      color: $primary-color !important;
    }
  }
}