@import "./variables.scss";
.btn {
  font-size: 14px;
  &.btn-primary {
    background-color: $primary-color !important;
    border-color: $secondary-color !important;
    &.btn-raised {
      color: $secondary-color !important;
    }
  }
  &.btn-secondary {
    background-color: $secondary-color !important;
    border-color: $primary-color !important;
    &.btn-raised {
      color: $white-color !important;
    }
  }
}

// .btn-primary {
//   background-color: $primary-color !important;
//   border-color: $secondary-color !important;
//   &.btn-raised {
//     color: $secondary-color !important;
//   }
// }
// .btn-secondary {
//   background-color: $secondary-color !important;
//   border-color: $primary-color !important;
//   &.btn-raised {
//     color: $white-color !important;
//   }
// }