.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.flex {
  display: flex;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-center {
    justify-content: center;
    align-items: center;
  }

  &.flex-horizontal-center {
    justify-content: center;
  }

  &.flex-horizontal-end {
    justify-content: flex-end;
  }

  &.flex-vertical-center {
    align-items: center;
  }

  &.flex-space-between {
    justify-content: space-between;
  }
}

.full-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
