.form {
  .field {
    margin-bottom: 15px;

    .error-msg {
      color: $danger-color;
      font-size: 1.3rem;
      min-height: 26px;
      font-weight: 400;
    }
  }
}

.form-changes {
  .form-changes-before,
  .form-changes-after {
    width: 100%;
  }

  .form-changes-before {
    text-decoration: line-through;
  }

  .form-changes-after {
    text-align: right;
    color: $secondary-color;
  }
}
