.ReactModal__Body--open {
  overflow: hidden;
}

.m0dal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
}

.m0dal {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}