.panel {

  .panel-header {
    padding: 10px 30px;
  }

  .panel-content {
    padding: 30px;
    margin: 0;
    box-shadow: none;
    border-radius: 0;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }

  .panel-white {
    @include background-color(white);
  }

  .panel-primary {
    @include background-color(primary);
  }

  .panel-secondary {
    @include background-color(secondary);
  }
}