.panel {
  padding: 20px;
  margin: 0;
  box-shadow: none;
  border-radius: 0;

  &.panel-white {
    @include background-color(white);
  }

  &.panel-primary {
    @include background-color(primary);
  }

  &.panel-secondary {
    @include background-color(secondary);
  }
}