.w-100 {
  width: 100px;
}

.w-110 {
  width: 110px;
}

.w-120 {
  width: 120px;
}

.w-130 {
  width: 130px;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
}

.w-160 {
  width: 160px;
}

.w-170 {
  width: 170px;
}

.w-180 {
  width: 180px;
}

.w-190 {
  width: 190px;
}

.w-200 {
  width: 200px;
}
