.showroom {
  padding: 40px 0;

  .showroom-element {
    margin-bottom: 80px;

    label {
      color: black;
      margin-bottom: 15px;
    }

    .showroom-result {
      margin-top: 10px;
    }
  }

  .showroom-link {
    a {
      font-size: 2.4rem;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .showroom-sample-div {
    background-color: $grey-color;
    width: 100%;
    height: 350px;
  }
}