.showroom {
  padding: 40px 0;

  .showroom-element {
    margin-bottom: 80px;

    label {
      color: black;
    }

    .showroom-result {
      margin-top: 10px;
    }
  }

  .showroom-link {
    a {
      font-size: 2.4rem;
      color: $secondary-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}