.collapse-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .collapse-list-element {
    background-color: white;
    margin-bottom: 5px;
    box-shadow: 0 1px 4px 0 hsla(0, 0%, 59.2%, .17);

    .collapse-list-header {
      font-weight: 400;

      .collapse-list-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
          padding: 6px 20px 6px 20px;
          width: 100%;
        }

        i {
          transform: rotate(0);
          transition: all ease .2s;
          margin-right: 20px
        }
      }

    }

    &.active {
      .collapse-list-header {
        .collapse-list-header-container {
          i {
            transform: rotate(90deg);
          }
        }
      }

      .collapse-list-content {
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
      }
    }
  }

  .collapse-list-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    >div {
      padding: 20px;

      @include media-breakpoint-down(sm) {
        padding: 15px;
      }
    }
  }

  // CUSTOMIZATION

  &.collapse-list-default {

    .collapse-list-element {

      &.active {
        .collapse-list-header {
          @include background-color(light);
        }
      }

      .collapse-list-header {
        @include background-color(light, light);
      }
    }
  }

  &.collapse-list-primary {
    .collapse-list-element {

      &.active {
        .collapse-list-header {
          @include background-color(secondary);
        }
      }

      .collapse-list-header {
        @include background-color(primary, secondary);
      }
    }
  }

  &.collapse-list-secondary {
    .collapse-list-element {

      &.active {
        .collapse-list-header {
          @include background-color(primary);
        }
      }

      .collapse-list-header {
        @include background-color(secondary, primary);
      }
    }
  }

  &.collapse-list-hover-primary {
    .collapse-list-element {

      &.active {
        .collapse-list-header {
          @include background-color(primary);
        }
      }

      .collapse-list-header {
        &:hover {
          @include background-color(primary);
        }
      }
    }
  }

  &.collapse-list-hover-secondary {
    .collapse-list-element {

      &.active {
        .collapse-list-header {
          @include background-color(secondary);
        }
      }

      .collapse-list-header {
        &:hover {
          @include background-color(secondary);
        }
      }
    }
  }
}