@font-face {
  font-family: 'Circular Airbnb';
  font-style: normal;
  font-weight: 200;
  src: local('Circular Airbnb'), url('assets/fonts/circular-airbnb/Airbnb_Cereal-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular Airbnb';
  font-style: normal;
  font-weight: 400;
  src: local('Circular Airbnb'), url('assets/fonts/circular-airbnb/Airbnb_Cereal-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Circular Airbnb';
  font-style: normal;
  font-weight: 600;
  src: local('Circular Airbnb'), url('assets/fonts/circular-airbnb/Airbnb_Cereal-Bold.woff2') format('woff2');
}