a {
  cursor: pointer;
}

.ms-header {
  min-height: 70px;
}

.ms-header .ms-title .ms-logo {
  margin-top: 5px;
}

.ms-header .ms-title h1 {
  margin-top: 12px;
}

.ms-header .header-right {
  margin-top: 10px;
}

.ms-logo {
  width: 45px;
  height: 45px;
}

.ms-header .ms-title h1 {
  font-size: 34px;
  padding-top: 5px;
}

.svg-inline--fa {
  margin-right: 1rem;
}

.show {
  display: block !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}