@import "../variables.scss";
$primary-color: #e6c300;
$primary-alt-color: #002541;
$secondary-color: #002c41;
$secondary-alt-color: $white-color;
$alternative-color: #00bcd4;
$panel-primary-color: #102029;
$panel-secondary-color: #254151;
/* Background colors */

$background-color: $secondary-color;