@import '../variables.scss';
$primary-color: #e6c300;
$secondary-color: #002c41;
$alternative-color: #00bcd4;

$primary-alt-color: $secondary-color;
$primary-outline-color: $secondary-color;

$secondary-alt-color: $white-color;
$secondary-outline-color: $secondary-color;

$outline-font-color: $secondary-color;

$panel-primary-color: #102029;
$panel-secondary-color: #254151;
/* Background colors */

$background-color: $secondary-color;
