@import '../variables.scss';
$primary-color: #0ccf69;
$primary-alt-color: #142c52;
$secondary-color: #142c52;
$secondary-alt-color: $white-color;
$alternative-color: #64c8ec;
$panel-primary-color: #102029;
$panel-secondary-color: #254151;
/* Background colors */

$background-color: $secondary-color;
