@import '../variables.scss';
$primary-color: #61cdf3;
$primary-alt-color: $white-color;
$secondary-color: #122c4f;
$secondary-alt-color: $white-color;
$panel-primary-color: #102029;
$panel-secondary-color: #254151;
/* Background colors */

$background-color: $secondary-color;
