.town-card {
  background-color: $secondary-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  .city-img {
    height: 200px;
    width: 100%;
  }
  .town-alias {
    position: absolute;
    top: 170px;
    padding: 0 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $primary-color;
    color: $secondary-color;
    img {
      width: 16px;
      margin-right: 10px;
    }
  }
  .town-container {
    padding: 0;
    .town-header {
      padding: 10px 20px 0 20px;
      border-bottom: 1px solid $white-color;
      .town-name {
        color: $primary-color;
        font-weight: bold;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .town-country {
        color: $white-color;
        font-weight: 400;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
    .town-data {
      padding: 10px 40px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: $panel-secondary-color;
      .town-data-label {
        color: $grey-light-color;
      }
      .town-data-value {
        color: $white-color;
        font-size: 16px;
      }
      .town-year {
        .town-data-value {
          color: $primary-color;
          font-weight: 600;
        }
      }
    }
  }
  &:hover {
    .town-header {
      border-bottom: 1px solid $primary-color;
    }
  }
}