.togglebutton {
  label {
    .toggle {
      height: 12px;
    }
    .toggle:after {
      width: 15px;
      height: 15px;
    }
  }
  &.primary {
    label {
      input[type=checkbox]:checked+.toggle {
        background-color: rgba($primary-color, .5);
      }
      input[type=checkbox]:checked+.toggle:after {
        background-color: $primary-color;
      }
    }
  }
  &.secondary {
    label {
      input[type=checkbox]:checked+.toggle {
        background-color: rgba($secondary-color, .5);
      }
      input[type=checkbox]:checked+.toggle:after {
        background-color: $secondary-color;
      }
    }
  }
}