@import "./result-panels/station-panel/station-panel.scss";
.results-list {
  .card {
    margin-bottom: 0;
    .card-header {
      background-color: $panel-primary-color;
      border-bottom: 1px solid $panel-secondary-color;
      a {
        color: $white-color !important;
      }
    }
  }
  .result-header {
    img {
      height: 16px;
      margin-right: 10px;
    }
    .extra-info-labels {
      float: right;
      margin-right: 50px;
      .line-badge {
        margin-left: 10px;
        font-weight: 400;
      }
    }
  }
}