.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;

  .auth-box {
    padding: 30px;
    border: 2px solid white;
    border-radius: 1.2rem;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid $white-color;

      .title {
        display: flex;
        align-items: center;

        h2 {
          display: inline-block;
          font-size: 3.4rem;
          line-height: 1;
          font-weight: 300;
          color: $white-color;
          margin: 0 0 0 10px;
        }
      }

      .actions {
        a {
          color: $grey-light-color;
          margin-left: 15px;

          &:hover {
            color: $white-color;
          }

          &.active {
            color: $primary-color;
          }
        }
      }

    }

    .forgot-password {
      color: $grey-light-color;

      .link {
        margin-left: 5px;
        color: $white-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .email-login-header,
    .social-login-header {
      margin-top: 40px;
      color: $white-color;
      text-align: center;
      font-size: 20px;
    }

    .email-login-header {
      margin-top: 20px;
    }

    .social-login-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      padding: 0 65px;

      .btn {
        text-transform: none;

        i {
          margin-top: -2px;
        }

        span {
          color: $grey-gradient-color;
        }

        &:hover {
          span {
            color: $white-color;
          }
        }
      }
    }

  }
}