.results-summary {
  padding-left: 20px;
  .amount {
    color: $primary-color;
    font-weight: 500;
    margin-right: 10px;
  }
  .label {
    color: $white-color;
    font-size: 18px;
  }
  .btn {
    margin: 2rem 2rem 1.5rem;
  }
}